{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TikTakTuk{% endblock %}</title>

    <!-- GLOBAL CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    {% include 'navbar.html' %}

    <!-- CONTENT (WAJIB ADA) -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- EXTRA JS PER PAGE -->
    {% block extra_js %}{% endblock %}

</body>
</html>