{% load static %}

{% if user.is_authenticated %}

<!-- ================= TOPBAR ================= -->
<div class="topbar">

  <div class="top-left">
    {% if role != "pelanggan" %}
      <div class="menu-btn" onclick="toggleSidebar()">☰</div>
    {% endif %}

    <a href="/">
      <img src="{% static 'images/logo.png' %}" class="logo">
    </a>
  </div>

  <div class="top-right">

    {% if role == "pelanggan" %}
      <a href="{% url 'main:show_main' %}">Dashboard</a>
      <a href="#">Tiket Saya</a>
      <a href="#">Pesanan</a>
      <a href="{% url 'main:browse_events' %}">Cari Event</a>
      <a href="#">Promosi</a>
      <a href="#">Venue</a>
      <a href="#">Artis</a>
      <a href="{% url 'main:logout' %}" class="btn btn-light">Logout</a>
    {% else %}
      <div class="profile">
        <img src="https://i.pravatar.cc/30" style="border-radius:50%">
        <span>{{ user.username }}</span>
      </div>
    {% endif %}

  </div>
</div>

{% if role != "pelanggan" %}

<div class="layout">

  <div id="sidebar" class="sidebar">

    <h4>MENU</h4>

    <a href="{% url 'main:show_main' %}">Dashboard</a>

    {% if role == "penyelenggara" %}
      <a href="{% url 'main:event_list' %}">Event Saya</a>
    {% endif %}

    <a href="{% url 'main:venue_list' %}">Manajemen Venue</a>
    <a href="#">Manajemen Kursi</a>
    <a href="#">Kategori Tiket</a>
    <a href="#">Manajemen Tiket</a>
    <a href="#">Semua Order</a>

    <h4>ASET</h4>
    <a href="#">Tiket</a>
    <a href="#">Order</a>

    <h4>AKUN</h4>
    <a href="{% url 'main:profile' %}">Profile</a>
    <a href="{% url 'main:logout' %}">Logout</a>

  </div>

{% endif %}

{% endif %}